#root {
  height: 100%;
}

.app {
  height: 100%;
}

.main {
  background-image: url("../img/black-white-mountain.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.name-text {
  text-align: center;
  top: 40%;
  left: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  color: #1A1A1A;

  /* Border Box */
  border-style: solid;
  border-width: 1px;
  width: 250px;
  line-height: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.name {
  font-size: 20px;
}

.job {
  font-size: 10px;
}

/* Line Arrow Down */
.line-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 20px;
  left: 50%;
  border-bottom: 1px solid #E9E9E9;
  border-right: 1px solid #E9E9E9;
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

/* About Me Section */
.about-me {
  position: relative;
  height: 100%;
  background-color: #1A1A1A;
  color: #E9E9E9;
}

.profile {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.profile img {
  width: 100%;
  height: auto;
}

.love {
  position: absolute;
  text-transform: uppercase;
  font-size: 10px;
  bottom: 10px;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.heart {
  background-color: #E9E9E9;
  display: inline-block;
  height: 6px;
  margin: 0 6px;
  position: relative;
  top: -1px;
  transform: rotate(-45deg);
  width: 6px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #E9E9E9;
  border-radius: 50%;
  height: 6px;
  position: absolute;
  width: 6px;
}

.heart:before {
  top: -3px;
  left: 0;
}

.heart:after {
  left: 3px;
  top: 0;
}
